.a{
    background-color: seagreen;
}
.b{
    margin-left: 400px;
}
.c{
    background-color: aquamarine;
}
.d{
    text-align: center;
    font-size: 50px;
}
.e{
    text-align: center;
}
.f{
    margin-left: 200px;
}
.a1{
    margin-left: 250px;
    margin-top: 10px;
}
.b1{
    margin-left: 200px;
    font-size:20px;
    font-weight: 200px;
}
.c1{
    background-color: rgba(175, 229, 231, 0.947);
}
.d1{
    margin-left: 800px;
    margin-top: -300px;
}
.e1{
    margin-left: 370px;
    font-size: 20px;
}
.f1{
    margin-top: 400px;
    margin-left: 350px;
}
.g1{
    margin-left: -410px;
    margin-top: -250px;
}
.o1{
    margin-left: 370px;
    font-size: 20px;
}
.r1{
    margin-top: 90px;
    margin-left: 150px;

}
.p1{
    margin-left: 150px;
    margin-top: -70px;
}
.l1{
    margin-left: 150px;
    margin-top: 15px; 
}

.q{
    margin-top: -600px;
    font-size: 60px;
}
.y{
    font-size: 60px;
}
.pe{
    margin-top: -550px;
    font-size: 60px;
}